body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

div .panel.panel-default.main {
	margin-top: 20px;
}

div .panel.panel-default.bottom {
	margin-bottom: 20px;
}
